$body-font: "Titillium Web", sans-serif;
$nav-colour: rgba(54, 57, 61, 0.9);
$frame-colour-1: rgb(54, 57, 61);
$frame-colour-2: white;
$highlight-colour: #ddd;
$font-colour-1: white;
$font-colour-2: rgb(20, 53, 102);
$table-colour: rgb(252, 216, 199);
